* {
    margin: 0;
    padding: 0;
}

#infoWrapper{
    position: absolute;
    left: 1em;
    top: 0;
    max-width: 90vw;
    word-wrap: break-word;
    z-index: 999;
}

#infoWrapper > button{
    padding: 0.5em;
}